{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Authors|Prikazka.bg</title>
</head>

<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse d-flex justify-content-center navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'home' %}">НАЧАЛО</a>
                <a class="nav-item nav-link" href="{% url 'tales' %}">ПРИКАЗКИ</a>
                <a class="nav-item nav-link" href="{% url 'authors' %}">ПИСАТЕЛИ</a>
                <a class="nav-item nav-link" href="{% url 'forum' %}">ФОРУМ</a>
            </div>
        </div>
    </nav>

    <div class="container bg-reading-notsolid border-white text-center mt-1 pt-3">
        <div class="pb-3">
            <label class="text-white"><strong>ПИСАТЕЛИ</strong></label>
        </div>
    </div>
</div>

<main class="container border-white bg-reading-notsolid mt-1 text-white">
    <div class="row mt-5 featurette pb-5">
        <div class="col-md-1 ">

        </div>
        <div class="col-md-6 border-white bg-reading-solid text-justify">
            <h2 class="featurette-heading text-center underlined">Братя Грим</h2>
            <p class="h6">Братя Грим са немски писатели, родени в град Ханау, близо до Франкфурт. Якоб Грим
                е роден на 4 януари 1785, а брат му Вилхем на 24 февруари 1786 година. През 1808 г. Якоб става
                библиотекар на новия крал на Вестфалия, Жером Бонапарт. По-късно той създава и общност от учени, които
                си поставят за цел да записват из цяла Германия песни, легенди, обичаи, вярвания, изрази, за да бъдат
                събрани на едно място преди да изчезнат. През 1829 година двамата братя се заселват в Гьотинген, където
                Вилхелм заема поста на библиотекар, а Якоб – на професор.
                Братя Грим са известни с публикуваните от тях сбирки от немски приказки като „Детски и семейни приказки“
                през 1812 г. с втори том през 1814 г. и много следващи издания през живота им. Преводите на приказките,
                разпространявани сега, са силно пречистени и сладникави версии за деца, въпреки че немските народни
                приказки, събрани от братя Грим, не са смятани за истории, подходящи за деца.
                Братя Грим са знаели и сръбски език, част от приказките взели от сръбския фолклор. Вещици, гоблини
                („таласъми“), тролове („зли великани“) и вълци дебнат в тъмните гори до гримовите едновремешни села.
                Вилхелм умира през 1859 г., а по-големият му брат Якоб – през 1863 г.
            </p>
        </div>
        <div class="col-md-4">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="350"
                 height="464" src="{% static 'website/images/authors_grimm.jpg' %}">
        </div>
        <div class="col-md-1 ">

        </div>
    </div>
    <div class="row mt-5 featurette pb-5">
        <div class="col-md-1 ">

        </div>
        <div class="col-md-6 order-md-2 border-white bg-reading-solid text-justify">
            <h2 class="featurette-heading text-center underlined">Ханс Андерсен</h2>
            <p class="h6">Ханс Кристиан Андерсен е датски писател и поет, роден на 2 април 1805 г. в
                Одензе. Баща му е бил обущар, а майка му - перачка. Андерсен искал да стане оперен певец и затова през
                1819 г. заминал за Копенхаген. Гласът му обаче бил слаб, приели го като ученик по танци в Кралския
                театър. Директорът на театъра, Йонас Колин, го взел под свое покровителство и останал негов приятел до
                края на живота си. Лично крал Фредерик VI се заинтересувал от момчето и му уредил да учи безплатно в
                класическа гимназия в Слагелзе.
                Преди още да започне училището, Андерсен издава през 1822 г. първата си книга. През 1829 г. постига
                голям успех с "Пътешествие пеша от канала Холмен до източната част на Амагер" - книгата излиза и на
                немски, - а през 1833 г. получава от краля пътническа стипендия. Така Андерсен осъществява първото си
                странстване из Европа - посещава Германия, Франция, Щвейцария и Италия. В началото на 1835 г. излиза
                първият му роман "Импровизатор". През същата година е издадена в Копенхаген и част от неговите
                "Андерсенови приказки". Другите части от първия том се появяват през 1836 и 1837 г. Отначало те не се
                продават добре - Андерсен има по-големи успехи с романа "О.Т." (1836) и с том кратки разкази "В Швеция".
                През 1837 г. създава може би най-известния си роман "Само цигулар". Успех му донася и книгата с разкази
                "Албум без картини" (1840). В стила на немските романтици Андерсен много пътешества - за да открие себе
                си в света и света в себе си. През 1840-41 г. посещава Германия, Италия, Малта и Гърция, като стига до
                Цариград. Връща се по Черно море и Дунав. За това преживяване разказва в пътеписа "Базар на поета"
                (1842). Почти до края на живота си пътува до близки и далечни страни.
                Андерсен умира на 4 август 1875 г. край Копенхаген, увенчан със световна слава. От 1835 до 1872 г. той е
                създал над 150 приказки и разкази, преведени на около 125 езика. С творчеството си Андерсен донася
                голяма слава на своята страна. Затова в негова чест в столицата на Дания е издигнат паметник, превърнал
                се в символ на Копенхаген - бронзова фигура на малката русалка. Най-авторитетната награда в света за
                детска литература носи името на Ханс Кристиан Андерсен.
            </p>
        </div>
        <div class="col-md-4 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image  mx-auto" width="350"
                 height="700" src="{% static 'website/images/authors_andersen.jpg' %}">
        </div>
        <div class="col-md-1 order-md-2">

        </div>
    </div>

    <div class="row featurette pb-5">
        <div class="col-md-1 ">

        </div>
        <div class="col-md-6 border-white bg-reading-solid text-justify">
            <h2 class="featurette-heading text-center underlined">Шарл Перо</h2>
            <p class="h6">Шарл Перо е роден в буржоазно чиновническо семейство на 12 януари 1628 г.
                Получава юридическо образование, което му осигурява дълги години кралска служба. През 1671 г. е избран
                за член на френската академия на науките.
                Любовта на Шарл Перо към литературата датира от младежките му години, но сериозните му занимания с
                творческа дейност започват, когато той е 55 годишен. Омагьосан е от фолклора и историите, които се
                предават от уста на уста, в тях намира голяма част от героите си, развива ги и им придава ново звучене.
                Шарл Перo намира вдъхновение в народното творчество. В народния хумор и свежия изказ той намира основа
                за отразяване на съвременната действителност и чрез способа на приказката да подсилва характерни черти
                на своето време и неговите хора. Така се раждат и неговите приказки, които виждат бял свят през 1697
                година под заглавие "Приказки за моята майка" или "Истории и приказки от старото време с морални
                наставления". В сборника в началото влизат осем приказки, сред които "Червената шапчица", "Котаракът в
                чизми", "Палечко", "Пепеляшка". В следващи издания добавя още две приказки и една повест.
            </p>
        </div>
        <div class="col-md-4">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="350"
                 height="464" src="{% static 'website/images/authors_perrault.jpg' %}">
        </div>
        <div class="col-md-1 ">

        </div>
    </div>

    <div class="row pb-5 featurette">
        <div class="col-md-1">

        </div>
        <div class="col-md-6 order-md-2 border-white bg-reading-solid text-justify">
            <h2 class="featurette-heading text-center underlined">Джани Родари</h2>
            <p class="h5">Джани Родари е роден в Италия през 1920 година. Много обича книгите и музиката.
                На 14 години бъдещият писател се научава да свири на цигулка. На 17 години той става учител и преподава
                в местни селки училища. През 1945 година започва да работи като журналист.
                Творбите на Родари не се харесват на неговите сънародници, но за сметка на това, той става един от
                най-известните чуждостранни писатели в Съветския съюз(днешна Русия). Романът-приказка "Приключенията на
                Лукчо" търпи много критики в Италия, но е обичана в Русия и дори е направена анимация по книгата. През
                1970 година Джани Родари печели престижната награда "Ханс Кристиан Андерсен" за устойчив принос към
                детската и младежка литература“.
            </p>
        </div>
        <div class="col-md-4 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="350"
                 height="464" src="{% static 'website/images/authors_rodari.jpeg' %}">
        </div>
        <div class="col-md-1 order-md-2">

        </div>
    </div>
</main>
</body>